RELATIVE_REPOSITORY_PATH_PARENT="path_related_to_current_directory"
REPOSITORY_NAME="new_reposityorys_name"
RELATIVE_REPOSITORY_PATH="${RELATIVE_REPOSITORY_PATH_PARENT}/${REPOSITORY_NAME}"
PRIVATE_KEY="absolut_path_to_idrsa"
GIT_USERNAME=""
GIT_EMAIL=""
POETRY_PROJECT_NAME="${REPOSITORY_NAME}"
POETRY_AUTHOR_EMAIL="${GIT_USERNAME} <${GIT_EMAIL}>"
CUSTOM_PYTHON_PATH="full_path_to_python_for_venv"
